:root {
    --color_fondo_formulario: rgba(82, 78, 78, 0.9);
    --color_borde_formulario: rgba(26, 24, 24, 0.7);
    --color_fondo_inputs: transparent;
    --color_borde_botones: #e8e8e8;
    --radio_borde_botones: 10px;
    --grosor_borde_botones: 1px;
    --color_transparente: transparent;
    --color_fondo_produccion: rgba(245, 245, 220, 1);
    --color_fondo_botones: #c5c591;
    --color_borde_productos: #e0e0e0;
    --color_fondo_productos: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    overflow-x: hidden;
}

.mobile {
    display: grid;
    gap: 0px;
    grid-template-areas:
        "cabecera"
        "productos"
        "footer";
    grid-template-rows: 10% 1fr auto;
    min-height: 100vh;
}

.cabecera>* {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
}

.cabecera {
    background-color: black;
    display: grid;
    gap: 0px;
    grid-template-areas:
        "img_cabecera"
        "productos"
        "navbar";
}

.img_cabecera {
    grid-area: img_cabecera;
    background-color: transparent;
}

.espacio {
    grid-area: espacio;
    background-color: transparent;
    text-align: center;
}

.navbar {
    grid-area: navbar;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.div_togle {
    display: grid;
    place-items: center;
}

.contenedor_botones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px 5px 0px 0px;
    line-height: 40px;
}

.boton_nav {
    width: 90%;
    height: 35px;
    background-color: red;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    list-style: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.boton_nav:hover {
    transform: scale(1.01);
    opacity: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(255, 255, 255, 0.8);
    transition: all 0.1s ease;
    cursor: pointer;
}



.nav_menu {
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submenu_interfaces{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.productos {
    grid-area: productos;
    background-color: transparent;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: rgb(26, 128, 0);
    padding: 10px;
    text-align: center;
}

.img_cabecera {
    grid-area: img_cabecera;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img_cabecera_2 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.nav-toggle {
    margin-top: 0%;
    margin-left: 0%;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: none;
    font-size: 25px;
    display: flex;
    z-index: 2;
}

/* Media query para pantallas pequeñas (menos de 768px) */
@media only screen and (max-width: 768px) {

    .mobile {
        width: 100%;
        overflow: hidden;
        display: grid;
        gap: 0%;
        grid-template:
            "cabecera   cabecera    cabecera    cabecera    cabecera"20% 
            "productos  productos   productos   porductos   productos"20% 
            "productos  productos   productos   porductos   productos"20% 
            "productos  productos   productos   porductos   productos"20% 
            "footer     footer      footer      footer      footer"   10% / 
            15%         20%         20%         20%         15%;
    }

    .cabecera {
        display: grid;
        gap: 1%;
        grid-template:
            "img_cabecera   espacio     navbar"46% 
            "img_cabecera   espacio     navbar"46% / 
            30%             45%         25%;
    }

    .img_cabecera {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .img_cabecera_2 {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        border-radius: 30%;
        max-width: 90%;
        height: auto;
    }

    .navbar {
        justify-content: flex-end;
        padding: 0;
        display: flex;
        width: 80%;
        height: 65px;
        background-color: transparent;
        margin-top: 0%;
        z-index: 100;
        justify-content: center;
        align-items: center;
    }
    .nav_menu {
        flex-direction: column;
        margin-right: 10px;
        background-color: rgba(96, 125, 139, 0.5);
        position: fixed;
        right: -800px;
        top: 65px;
        width: 100%;
        height: 150px;
        padding: 10px 0;
        overflow-y: auto;
        right: -800px;
        transition: 0.7s;
    }

    .submenu_interfaces{
        flex-direction: column;
        margin-right: 10px;
        background-color: rgba(96, 125, 139, 0.5);
        position: fixed;
        left: -800px;
        top: 65px;
        width: 100%;
        height: 150px;
        padding: 10px 0;
        overflow-y: auto;
        right: -800px;
        transition: 0.7s;
    }



    .nav-toggle {
        display: block; /* Mostrar el botón de toggle */
    }

    .div_togle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav-toggle {
        color: white;
        width: 50px;
        height: 50px;
        border: none;
        background: none;
        font-size: 30px;
        display: block;
        z-index: 2;
        transition: background 0.2s, color 0.2s;
    }

    .nav-toggle:active {
        background: white;
        color: black;
        box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.3);
    }

}

/* Media query para pantallas grandes (más de 768px) */
@media only screen and (min-width: 769px) {
    .cabecera {
        display: grid;
        gap: 0%;
        grid-template:
            "img_cabecera   espacio  navbar"49% "img_cabecera   espacio  navbar"49% / 20% 20% 60%;
    }

    .img_cabecera {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .img_cabecera_2 {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        border-radius: 30%;
        max-width: 90%;
        height: auto;
    }

    .nav_menu {
        display: flex; /* Mostrar el menú en pantallas grandes */
        flex-direction: row;
        gap: 10%;
    }

    .div_togle {
        display: none; /* Ocultar el botón de toggle en pantallas grandes */
    }

    .submenu-container {
        position: relative;
    }

    .submenu-container:hover > .submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .submenu-right {
        left: 100%;
        top: 0;
    }

    .submenu {
        left: -160px;
        top: 0;
    }
}
